$def with (org, lobbyists_this_y, lobbyists_other_y, num_lob_this_y)
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
$:render.head("Lobby organisation " + org.lobby_org_name)
</head>

<body><div id="container">

$:render.navigation([])

<h1>Lobby organisation: $org.lobby_org_name</h1>

$:render.props(org)

<h2>Lobbyists for $org.lobby_org_name</h2>

<h3>This year</h3>

<table>
<tr><th>Year</th><th>Name</th></tr>
$for l in lobbyists_this_y:
    <tr><td>$l.participant_year</td>
    <td><a href="../participant/$l.participant_id">$p_name(l)</a></td></tr>
</table>

<h3>Other years</h3>

<table>
<tr><th>Year</th><th>Name</th></tr>
$for l in lobbyists_other_y:
    <tr><td>$l.participant_year</td>
    <td><a href="../participant/$l.participant_id">$p_name(l)</a></td></tr>
</table>

<div id="actions"><h2>Actions</h2>
<form action="?" method="post">
<ul>
	<li>Name: <input name="name" value="$org.lobby_org_name" />
        <input type="submit" name="action" value="update" /></a></li>
	<li><input type="submit" name="action" value="delete" /></li>
</ul>
</form>
</div>

</div></body>

</html>
